TAVILY_API_KEY=tavily_api_key

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=ollama_model_name

GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=model_name

OPENAI_API_KEY=your_api_key
OPENAI_MODEL=gpt-4o-mini

TEMPERATURE=0.0
